<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	xmlns:context="http://www.springframework.org/schema/context"
 	xmlns:mvc="http://www.springframework.org/schema/mvc"
 	xmlns:util="http://www.springframework.org/schema/util" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        http://www.springframework.org/schema/util 
 		http://www.springframework.org/schema/util/spring-util-4.1.xsd
 		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
 		http://www.springframework.org/schema/context 
 		http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
	
	<!-- Spring busca clases anotadas para controladores, servicios y repositorios -->
	<context:annotation-config />
	
	<!-- Ruta a partir de la que empieza a escanear en busca de anotaciones de Spring -->
	<context:component-scan base-package="es.enbinario.*" />
	
	<!-- Enables the Spring MVC @Controller programming model -->
	<mvc:annotation-driven />
	
	<!-- AOP -->
	<!-- 	<aop:aspectj-autoproxy /> -->
	
	<!-- Resuelve las vistas de tiles -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.tiles3.TilesViewResolver"/>
	
	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/layouts/layout.xml</value>
				<value>/WEB-INF/layouts/body.xml</value>
			</list>
		</property>
	</bean>

	
	<!-- Resuelve las rutras de los strings que devuelve el controlador -->	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/pages/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<!-- Mapeo de recursos para incluir js, css, img... (mapping->ruta de la jsp y location->ruta real)  -->
	<mvc:resources mapping="/resources/**" location="/resources/" />

	<!-- Anotada como @Repository -->
	<!-- 	<bean id="dataDaoImpl" class="es.enbinario.dao.DataDAO" /> -->
	<!-- Anotada como @Service -->
	<!-- 	<bean id="dataServiceImpl" class="es.enbinario.dao.DataServiceImpl" /> -->

</beans>